*{
    margin: 0;
    padding: 0;
}
.ab_cont_bgr{
    background: url(./image/Anushervon/Group\ 18.png);
    background-size: cover;
       width: 100%;
       height: 190vh;
}
/* -------------ab_contener_navbar--------- */
.ab_contener_navbar{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.ab_main_navbar{
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.ab_navbar_right ul{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  color: white;
}
.ulflex a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ab_navbar_right ul li a{
     text-decoration: none;
     color: white;
}

/* -------------------------------------ab_cont_left_center_right------------------------ */
.center_ab_cont{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 700px;
}
.ab_cont_left_center_right{
  width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ab_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ab_flow{
    writing-mode: vertical-rl;
    /* transform: rotate(90deg); */
}
.ab_instagram{
    background-color: black;
    padding: 2px;
    border-radius: 1px;
}

/* ----------------ab_hr_hicing--------------- */
.ab_hr_hicing{
    display: flex;
    gap: 20px;
}
.ab_hr{
    margin-top: 12px;
    width: 71px;
    height: 3px;
    border: none;
    background-color: rgba(193, 140, 16, 1);
}
.ab_hicing{
    font-size: 32px;
    color: rgba(193, 140, 16, 1);
    letter-spacing: 6px;
}
/* ------------------ */
.ab_h1_Be{
    font-size: 57px;
}
.ab_Be{
    width: 600px;
    margin: 30px 0px;

}

/* ---------------- */
.ab_skrlo{
    display: flex;
    gap: 15px;
}
.ab_p_skrlo{
    font-size: 18px;
    font-weight: 700;
}
/* ------------ab_right------------ */
.ab_text_dek{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.ab_p_Start{
    border-right: 3px solid darkgray;
     padding: 15px 5px;
}
.ab_01{
    border-right: 3px solid darkgray;
    padding: 15px 5px;
}
.ab_02{
    border-right: 3px solid darkgray;
    padding: 15px 5px;
}
.ab_03{
    border-right: 3px solid darkgray;
    padding: 15px 5px;
}

.ab_p_Start:hover{
   border-right:  3px solid black;
}
.ab_01:hover{
    border-right:  3px solid black;
}
.ab_02:hover{
    border-right:  3px solid black;
}
.ab_03:hover{
    border-right:  3px solid black;
}


/* -------------------ab_hr_Get_Start--------------- */
.ab_center_01{
    display: flex;
    justify-content: center;
}
.ab_main_01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.ab_hr_Get_Start{
    display: flex;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.ab_left_01{
    width: 39%;
}
.ab_hr_Get{
    width: 71px;
    height: 2px;
    border: none;
    background-color: rgba(193, 140, 16, 1);
}
.ab_get_started{
    color: rgba(193, 140, 16, 1);
    font-weight: 800;
    font-size: 18px;
}
.ab_width_p{
    padding-bottom: 20px;
}
.ab_what{
    font-size: 68px;
    font-weight: 400; 
}
.ab_determinat{
    text-align: justify;
 font-size: 14px;
 font-weight: 400;
 line-height: 29px;
}
.ab_read_icon{
    display: flex;
    gap: 20px;
}
.read_more{
  font-size: 22px;
  font-weight: 400;
  color: rgba(193, 140, 16, 1);
}
.ab_icon_right{
    font-size: 30px;
    font-weight: 100;
    color: rgba(193, 140, 16, 1);
}

.thgroup{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 85%;
  }
  
  .thgroup1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 100px;
  }
  .th1left{
    width: 500px;
    margin-right: 200px;
  }
  .th1right{
    width: 500px;
    margin-left: 200px;
  }
  .thtop{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #FBD784;
  }
  .thtop h5{
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .hrtop{
    width: 70px;
    height: 2px;
    margin-right: 20px;
    background: #FBD784;
  }
  .thgroup1 h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 61px;
    padding: 20px 0;
    color: #000000;
  }
  .thgroup1 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    padding-bottom: 40px;
  }
  .thgroup1 a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FBD784; 
  }
  .thirdgroup{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box
  }
  /* <!-- ----------------dvron --> */
  .container{
    width: 100%;
    margin-top: 100px;
    background-color: #0B1D26;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
   
}
.pp1{
    width: 40%;
}
.get{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-decoration: none;
}
.pp1 img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.more{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    padding-bottom: 10px;
    list-style: none;
    text-decoration: none;
}
.pp2{
    width: 47%;
}
.pp3{
    width: 13%;
   
}



